@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --main-font-color: rgb(243, 243, 247);
  --secondary-font-color: rgb(185, 226, 71);
  --main-bg-color: #111d5e;
  --secondary-bg-color: #d81159;
  --yellow-color: #ffbc42;
  --light-green: #218380;
  --light-blue: #73d2de;
  --inside-color: #c0e218;
}

/* * {
  box-sizing: border-box;
} */

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  text-align: center;
  font-family: 'Fredoka One', cursive;
  width: auto;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: monospace;
}

.main-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.white-line {
  background-color: var(--main-font-color);
  height: 2px;
  width: 30%;
}

a#github,
a#github:active {
  display: block;
  margin: 10px 0 40px 0;
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary-bg-color);
  text-decoration: none;
}

a#github:hover {
  color: var(--inside-color);
}

.main-content {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.main-content input {
  padding: 5px 15px;
  width: 60px;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
}

.left-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10px 0 0;
  flex-wrap: nowrap;
}

.right-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 0 10px;
  flex-wrap: nowrap;
}

.border-radius-container {
  width: 500px;
  height: 500px;
  border: 5px dotted rgb(240, 239, 239);
  position: relative;
  margin: 0;
  padding: 0;
}

.inside {
  width: inherit;
  height: inherit;
  /* background: rgb(29, 77, 245);
  background: linear-gradient(
    21deg,
    rgba(29, 77, 245, 1) 19%,
    rgba(192, 226, 24, 1) 51%
  ); */
  background: rgb(196, 0, 56);
  background: linear-gradient(
    21deg,
    rgba(196, 0, 56, 1) 19%,
    rgba(192, 226, 24, 1) 51%
  );
  position: absolute;
  border-radius: 280px 70px 180px 300px;
  z-index: -1;
  margin: 0 auto;
  padding: 0;
}

.border-radius-data-container {
  margin: 60px 0 20px 0;
  width: auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.first-line {
  display: flex;
  justify-content: space-between;
  margin: 0px 0 20px 0;
  text-align: left;
  max-width: 700px;
}

.values-input {
  width: 350px;
  background-color: rgb(212, 209, 209);
  border-radius: 5px;
  border: none;
  outline: 0;
  text-align: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
  padding: 20px;
  color: rgb(19, 18, 18);
  font-weight: bold;
}

.copy-button {
  padding: 16.5px 17px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.copy-button:hover {
  background-color: var(--inside-color);
  color: black;
}

.copy-section {
  display: flex;
  flex-flow: row;
}

.second-line {
  display: flex;
  margin: 0px 0 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.switch-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.width-height-container {
  display: flex;
  transition: width 2s;
}

.inactive {
  display: none;
}

.width-height-container input {
  width: 80px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
}

/* !IMPORTANT */
input#width {
  margin-right: 10px;
}

/* TOGGLE BUTTON STYLES */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  opacity: 1;
  width: 0;
  height: 101px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--yellow-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2bd4f1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* HERE END TOGGLE BUTTON STYLES */

/* BUBBLES STYLES START HERE */

/* .bubbles {
  width: auto;
  height: 100vh;
  position: relative;
  background-color: grey;
} */

.small-bubble {
  position: absolute;
  background-color: purple;
  width: 300px;
  height: 300px;
  animation: move 45s infinite ease-out;
  border-radius: 50%;
  margin: 0;
  bottom: 0;
  left: 30%;
  z-index: -1;
}

.small-bubble:nth-child(1) {
  width: 1200px;
  height: 1200px;
  background-color: rgba(218, 31, 140, 0.3);
  left: 10%;
  animation: moveBlue 45s infinite linear;
}

.small-bubble:nth-child(2) {
  background-color: rgba(12, 12, 10, 0.3);
  height: 400px;
  width: 500px;
  left: 10%;
  animation: moveBlack 30s infinite linear;
}

.small-bubble:nth-child(3) {
  background-color: rgb(230, 145, 34, 0.2);
  height: 600px;
  width: 600px;
  left: 50%;
  animation: moveOrange 45s infinite linear;
}

@keyframes moveBlue {
  0% {
    bottom: 5%;
    transform: translateX(50%);
  }

  20% {
    bottom: 30%;
    transform: translateX(30%);
  }

  50% {
    bottom: 10%;
    transform: translateX(-30%);
  }

  70% {
    bottom: 20%;
    transform: translateX(-20%);
  }

  100% {
    bottom: 10%;
    transform: translateX(10%);
  }
}

@keyframes moveOrange {
  0% {
    bottom: 40%;
    transform: translateX(10%);
  }

  20% {
    bottom: 30%;
    transform: translateX(30%);
  }

  50% {
    bottom: 10%;
    transform: translateX(55%);
  }

  70% {
    bottom: 20%;
    transform: translateX(-3%);
  }

  100% {
    bottom: 60%;
    transform: translateX(10%);
  }
}

@keyframes moveBlack {
  0% {
    bottom: 0%;
    transform: translateX(-20%);
  }

  20% {
    bottom: 10%;
    transform: translateX(50%);
  }

  50% {
    bottom: 30%;
    transform: translateX(70%);
  }

  70% {
    bottom: 40%;
    transform: translateX(100%);
  }

  100% {
    bottom: -20%;
    transform: translateX(70%);
  }
}

/* BUBBLES STYLES END HERE */

@media (max-width: 1000px) {
  .main-content {
    flex-flow: column;
    min-height: 900px;
    justify-content: center;
    align-items: center;
  }
  .border-radius-container {
    order: 1;
  }
  .border-radius-data-container {
    margin: 0 0 0 10px;
  }
  .left-container {
    order: 2;
    margin: 20px 0 0 0;
    width: 78vw;
    display: flex;
    align-items: flex-start;
  }
  .right-container {
    order: 3;
    margin: 0;
    width: 78vw;
    display: flex;
    align-items: flex-end;
  }

  .right-container label {
    margin: 5px;
  }

  .left-container label {
    margin: 5px;
  }

  body {
    overflow: visible;
  }
}

@media (max-width: 621px) {
  .values-input {
    width: 300px;
    color: rgba(12, 12, 10, 0.5);
    /* padding: 0;
    font-size: 10px; */
  }
  label {
    color: rgb(179, 28, 85);
  }
  body {
    background-color: rgb(178, 180, 185);
    overflow: hidden;
  }
  .first-line p {
    opacity: 0;
    display: none;
  }
  .first-line {
    width: 100%;
    justify-content: center;
  }
  .border-radius-container {
    border: 3px dotted rgb(19, 18, 18);
    width: 400px;
    height: 400px;
  }
  .left-container {
    align-items: center;
  }
  .right-container {
    align-items: center;
  }
  .second-line {
    display: none;
  }

  .border-radius-data-container {
    position: absolute;
    top: 20%;
  }
}

@media (max-width: 475px) {
  .border-radius-container {
    width: 320px;
    height: 320px;
  }
  h1 {
    font-size: 25px;
  }
  .values-input {
    font-size: 12px;
    padding: 0;
    width: 300px;
  }
  .copy-section {
    max-width: 300px;
  }
}
